*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    height: 100%;
    background-color: #A4133C;
    justify-content: center;
    text-align: center;
    margin-top: 215px;
}
.login{
    width: 370px;
    height: 325px;
    background-color: white;
}

.forgot-link a{
    color: #C9184A;
    text-decoration: none;
}
.heading{
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    font-size: 25px;
    background-color: #C9184A;
    color: white;

}

.email-box{
    line-height: 28px ;

}

.pass-box{
    line-height: 28px;

}
.email-box i{
    background-color: #C9184A;
    width: 38px;
    height: 100%;

}

.pass-box i{
    background-color: #C9184A;
    width: 38px;
    height: 100%;

}
.login-button button{
    width: 190px;
    height: 27px;
    background-color: #C9184A;
    color: white;
    border: 1px solid #C9184A;
    font-weight: 540;
    font-size: 15px;

}

.span{
    color: #C9184A;
}