*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    height: 100%;
    background-image: url(https://img.freepik.com/free-vector/gradient-landscape-design-background_23-2149120067.jpg);
    background-size: cover;
    justify-content: center;
    text-align: center;
    margin-top: 215px;
}
.login{
    width: 370px;
    height: 325px;
    background-color: white;
}

.forgot-link a{
    color: #ff5c8a;
    text-decoration: none;
}
.heading{
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    font-size: 25px;
    background-color:  #ff5c8a;
    color: white;

}

.email-box{
    line-height: 28px ;

}

.pass-box{
    line-height: 28px;

}
.email-box i{
    background-color: #ff5c8a;
    width: 38px;
    height: 100%;

}

.pass-box i{
    background-color: #ff5c8a;
    width: 38px;
    height: 100%;

}
.login-button button{
    width: 191px;
    height: 27px;
    background-color:#ff5c8a;
    color: white;
    border: 1px solid #ff5c8a;
    font-weight: 540;
    font-size: 15px;

}

.span{
    color:  #ff5c8a;
}
